# Entorno virtual
.venv/

# Archivos de cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Config local
.env
.vscode/

# Dependencias Node (si hay frontend)
node_modules/
dist/
build/

# Base de datos
src/backend/data/spm.db
